@font-face {
  font-family: "aespa-regular";
  font-style: normal;
  src: local("aespa Regular"), local("aespa-Regular"), url("../assets/fonts/aespa_Regular.ttf") format("truetype");
  font-display: swap;
}
